<h1>My recipes</h1>
<h2><%= @recipe.name %></h2>
<h3>Ingredients</h3>
<ul>
    <% @recipe.ingredients.each do |item| %>
    <li><%= item %></li>
    <% end %>
</ul>
<h3>How to make it?</h3>
<p><%= @recipe.description %></p>
<p>It will take <%= @recipe.time %> minutes.</p>