<div class="mx-2">
    <%= link_to '<- Back to Notes', items_path, class:'text-slate-800 hover:text-slate-950' %>
    <h1 class="text-slate-800 font-bold text-lg mt-2">New Item</h1>
    <%= render 'form', submit_text: 'Create' %>
</div>
